@using Infrastructure.DTOs.Movie
@model IReadOnlyList<MovieListDTO>
@{
    ViewBag.Title = "Search";

}

<div class="container text-center">
    <div class="row row-cols-4 gx-4 gy-2">
        @foreach (var movie in Model)
        {
            <a href="@Url.Action("Detail", "Movies", new {id = movie.Id})">
                <div>
                    <img src="@(AppData.ImageUrl+$"/{movie.ImagePath}")" style="width: 300px;" class="rounded-5" />
                    <h5>@movie.Name</h5>
                </div>
            </a>
        }
    </div>
</div>